In [1]:
# Q1. List any five functions of the pandas library with execution.

In [ ]:
# Ans 1 =read_csv() - This function is used to read a CSV file and create a DataFrame from it.
# You can specify various parameters to control the behavior of the function, such as the
# delimiter, header, and index column.
# groupby() - This function is used to group a DataFrame by one or more columns and 
# perform some aggregation function on each group. 
# Common aggregation functions include mean, sum, and count.
# sort_values() - This function is used to sort a DataFrame by one or more columns.
# You can specify the column(s) to sort by and the order (ascending or descending).
# pivot_table() - This function is used to create a pivot table from a DataFrame.
# You can specify the rows and columns to group by, the values to aggregate,
# and the aggregation function.
# fillna() - This function is used to fill missing values in a DataFrame. 
# You can specify the value to fill in, as well as the axis (rows or columns) to fill along.

In [ ]:
# Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
# DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [ ]:
# Ans 2
# Sure! You can use the set_index() method of the Pandas DataFrame to re-index the DataFrame with a new 
# index that starts from 1 and increments by 2 for each row. Here's an example Python function that does this:
import pandas as pd

def reindex_df(df):
    new_index = pd.RangeIndex(start=1, stop=2*len(df), step=2)
    return df.set_index(new_index)
# Here, we first create a new RangeIndex object that starts from 1, stops at 2 
# times the length of the original DataFrame, and increments by 2. We then use the set_index() 
# method of the DataFrame to set this new index.
# You can call this function by passing your DataFrame as an argument:

# python
new_df = reindex_df(df)
# This will return a new DataFrame with the desired index.

In [8]:
# Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
# iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
# function should print the sum to the console.

In [19]:
# Ans 3=
import pandas as pd

def sum_first_three(df):
    total = 0
    for i, value in enumerate(df['Values']):
        if i < 3:
            total += value
        else:
            break
    print("Sum of first three values:", total)
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
sum_first_three(df)

Sum of first three values: 60

In [24]:
# Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
# 'Word_Count' that contains the number of words in each row of the 'Text' column.
import pandas as pd

def add_word_count(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(x.split()))
    return df
df = pd.DataFrame({'Text': ['This is the first sentence.', 'This is the second sentence.', 'This is the third sentence.']})
new_df = add_word_count(df)

                           Text  Word_Count
0   This is the first sentence.           5
1  This is the second sentence.           5
2   This is the third sentence.           5

In [26]:
# Q5. How are DataFrame.size() and DataFrame.shape() different?
# Ans 5 =# DataFrame.size returns the total number of elements in the DataFrame, which is equal to the number 
# of rows multiplied by the number of columns. In other words, it returns the total number of cells in
# the DataFrame, including empty cells.
 # DataFrame.shape returns a tuple representing the dimensions of the DataFrame, with the number of rows 
# and columns as the first and second elements of the tuple, respectively. It does not include empty cells in its count.
# Here's an example to illustrate the difference:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, None]})
print(df.size)    # 6
print(df.shape)   # (3, 2)
# In this example, the DataFrame df has 6 total elements (2 columns x 3 rows), including one 
# missing value. The shape of the DataFrame is (3, 2), indicating that it has 3 rows and 2 columns.

6
(3, 2)

In [33]:
# Q6. Which function of pandas do we use to read an excel file?
#Ans 6
import pandas as pd 
# pd.read_excel("file_name/location")
# The read_excel() function has many optional arguments that allow you to customize how the data is read .

In [ ]:
Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.
Ans-
    To extract the username from each email address in a Pandas DataFrame df that contains an 'Email' column, you can use the str.split() method to split the email address into two parts: the username and the domain. Then, you can select the first part of the split using indexing to extract the username.

Here is a Python function that creates a new column 'Username' in the DataFrame df that contains only the username part of each email address:
    
    def extract_username(df):
    # Split the 'Email' column into two parts: the username and the domain
    df[['Username', 'Domain']] = df['Email'].str.split('@', expand=True)

    # Return the updated DataFrame
    return df

In this function, the str.split() method is used to split the 'Email' column of the DataFrame df into two parts: the username and the domain. The expand=True parameter is used to expand the split result into separate columns. The [['Username', 'Domain']] syntax is used to select these two columns and assign them to the DataFrame.

After the split, the 'Username' column contains the username part of each email address, and the 'Domain' column contains the domain part of each email address. You can then return the updated DataFrame df that includes the 'Username' and 'Domain' columns.

Here is an example of how to use this function:
    
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({'Email': ['john.doe@example.com', 'jane.doe@example.com', 'james.smith@example.com']})

# Call the function to extract the usernames
df = extract_username(df)

# Display the updated DataFrame
print(df)

This would output:

                   Email Username        Domain
0  john.doe@example.com  john.doe    example.com
1  jane.doe@example.com  jane.doe    example.com
2  james.smith@example.com james.smith example.com


As you can see, the function has created a new 'Username' column in the DataFrame df that contains only the username part of each email address.

In [ ]:
Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

Ans-

To select all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10 in a Pandas DataFrame df, you can use boolean indexing. Here is a Python function that performs this selection and returns a new DataFrame that contains only the selected rows:
    
def select_rows(df):
    # Use boolean indexing to select rows where 'A' > 5 and 'B' < 10
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]

    # Return the new DataFrame with the selected rows
    return selected_rows 
    
In this function, the [(df['A'] > 5) & (df['B'] < 10)] syntax is used to select only the rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10.

After the selection, the selected_rows DataFrame contains only the selected rows. You can then return this new DataFrame.

Here is an example of how to use this function: 
    
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({'A': [3, 8, 6, 2, 9],
                   'B': [5, 2, 9, 3, 1],
                   'C': [1, 7, 4, 5, 2]})

# Call the function to select the rows
selected_rows = select_rows(df)

# Display the selected rows
print(selected_rows)

This would output:
    
A  B  C
1  8  2  7
4  9  1  2


As you can see, the function has selected only the rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10, and returned a new DataFrame that contains only these selected rows.

In [32]:
# Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
# median, and standard deviation of the values in the 'Values' column.
df= pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")
df.describe()
# OUTPUT;-	PassengerId	Survived	Pclass	Age	SibSp	Parch	Fare
# count	891.000000	891.000000	891.000000	714.000000	891.000000	891.000000	891.000000
# mean	446.000000	0.383838	2.308642	29.699118	0.523008	0.381594	32.204208
# std	257.353842	0.486592	0.836071	14.526497	1.102743	0.806057	49.693429
# min	1.000000	0.000000	1.000000	0.420000	0.000000	0.000000	0.000000
# 25%	223.500000	0.000000	2.000000	20.125000	0.000000	0.000000	7.910400
# 50%	446.000000	0.000000	3.000000	28.000000	0.000000	0.000000	14.454200
# 75%	668.500000	1.000000	3.000000	38.000000	1.000000	0.000000	31.000000
# max	891.000000	1.000000	3.000000	80.000000	8.000000	6.000000	512.329200

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.
Ans-
    To create a new column 'MovingAverage' in a Pandas DataFrame df that contains the moving average of the sales for the past 7 days for each row in the DataFrame, you can use the rolling() method with a window of size 7 and the mean() method to calculate the moving average. Here is a Python function that does this:
    
def calculate_moving_average(df):
    # Calculate the moving average of the 'Sales' column with a window of size 7
    ma = df['Sales'].rolling(window=7, min_periods=1).mean()

    # Add the moving average as a new column in the DataFrame
    df['MovingAverage'] = ma

    # Return the modified DataFrame
    return df

In this function, the rolling() method is used to create a rolling window of size 7 for the 'Sales' column. The mean() method is then used to calculate the moving average of the sales for the past 7 days for each row in the DataFrame. The min_periods parameter is set to 1 to include the current day in the moving average calculation, even if there are fewer than 7 days of data available.

The resulting moving average is then added as a new column 'MovingAverage' in the DataFrame using the df['MovingAverage'] = ma assignment statement.

Finally, the modified DataFrame is returned from the function.

Here is an example of how to use this function:
    
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({'Sales': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
                   'Date': pd.date_range(start='2022-01-01', periods=10, freq='D')})

# Call the function to calculate the moving average
df = calculate_moving_average(df)

# Print the modified DataFrame with the new 'MovingAverage' column
print(df)

This would output:

    Sales       Date  MovingAverage
0     10 2022-01-01      10.000000
1     20 2022-01-02      15.000000
2     30 2022-01-03      20.000000
3     40 2022-01-04      25.000000
4     50 2022-01-05      30.000000
5     60 2022-01-06      35.000000
6     70 2022-01-07      40.000000
7     80 2022-01-08      45.000000
8     90 2022-01-09      50.000000
9    100 2022-01-10      55.555556

As you can see, the function has added a new column 'MovingAverage' in the DataFrame that contains the moving average of the sales for the past 7 days for each row in the DataFrame.

11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

Ans-

import pandas as pd

def add_weekday(df):
    df['Weekday'] = df['Date'].dt.strftime('%A')
    return df

The dt accessor allows you to access the datetime properties of a Pandas Series, and strftime formats the datetime value as a string using a specified format string. %A returns the full weekday name (e.g. Sunday, Monday).

You can call this function with your Pandas DataFrame df as an argument:

df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']})
df['Date'] = pd.to_datetime(df['Date'])
df = add_weekday(df)
print(df)

This will output the modified DataFrame with the Weekday column:
   
        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

# Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
# function to select all rows where the date is between '2023-01-01' and '2023-01-31'.
# Ans-
# between() function of Pandas to select all rows where the date is between '2023-01-01' and '2023-01-31'. Here is the Python function to accomplish this:

import pandas as pd

def select_rows_by_date(df):
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    return df.loc[mask]

# You can pass your DataFrame df to this function and it will return a new DataFrame that contains only the rows 
# where the date is between '2023-01-01' and '2023-01-31'.

In [36]:
# Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
# be imported?
# Ans-
#     The first and foremost necessary library that needs to be imported to use the basic functions of pandas is pandas 
# itself. We can import it using the following command:
        
import pandas as pd